{{> header}}
        <h1>About page</h1>
        <p class="h3">Information about the weather app</p>
        <p class="h4"><u>Created with : </u><br>
                <ul class="about-list">
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                        <li>Node.js</li>
                        <li>Express (for server)</li>
                        <li>Handlebars (as render engine)</li>
                </ul></p>
        <p class="h4"><u>API used : </u><br>
        <ul class="about-list">
                <li>weatherstack.com</li>
                <li>mapbox.com</li>
        </ul>

{{> footer}}