{{> header}}
        <h1>Help page</h1>
        <p class="h3">How to use the weather app</p>
        <p class="h4"><u>Follow these steps :  </u><br>
                <ul class="about-list">
                        <li>Enter the name of the city/location in the input field</li>
                        <li>Hit Search Button</li>
                        <li>Voila! You get the weather information of the location you entered.</li>
                </ul></p>

{{> footer}}